<app-header></app-header>

<form action="">
    
        <!-- <h1 style="text-align: center;background-color: black;color: aliceblue;">About Us</h1> -->
        <h1 style="text-align: center;background-color: black;color: aliceblue;">About Us</h1>

        <h2>iGAP Technologies Private Limited</h2>
        <div class="row">
            <div class="col">
        <img src="../../assets/images/igap.png" height="400px">
            </div>

        <div class="col">
        <p>
            iGAP Technologies is a customer oriented company offering Ecommerce Applications, Customized ERPs, Hospital Management Systems, Web Development, Mobile applications in various technologies.

        </p>
        </div>
        </div>
</form>


<app-footer></app-footer>