<div class="">
    <app-header></app-header>




    <div class="banner-job">
        <div class="banner-overlay"></div>
        <div class="container text-center">
            <h1 class="title">The Easiest Way to Get Your New Job</h1>
            <h3>We offer 12000 jobs vacation right now</h3>
            <div class="banner-form">
                <form action="#" class="clearfix">
                    <input type="text" class="form-control" placeholder="Type your key word">
                    <div class="dropdown category-dropdown">
                        <a data-toggle="dropdown" href="#"><span class="change-text">Job Location</span> <i
                                class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu category-change">
                            <li><a href="#">Location 1</a></li>
                            <li><a href="#">Location 2</a></li>
                            <li><a href="#">Location 3</a></li>
                        </ul>
                    </div>
                    <button type="submit" class="btn btn-primary" value="Search">Search</button>
                </form>
            </div>




            <div class="select cta cta-two text-center">


                <div class="container">


                    <ul class="row">
                        <div class="col lg-4">
                            <li class="category-item">
                                <a href="job-list.html">
                                    <div class="category-icon"><img src="../../../assets/images/icon/1.png"
                                            alt="images">

                                        <span class="category-title">Software Developer </span>
                                        <span class="category-quantity">(1298)</span>
                                    </div>
                                </a>
                            </li>
                        </div>
                        <div class="col lg-4">
                            <li class="category-item">
                                <a href="job-list.html">
                                    <div class="category-icon"><img src="../../../assets/images/icon/2.png" alt="images"
                                            class="img-fluid"></div>
                                    <span class="category-title">Angular Developer</span>
                                    <span class="category-quantity">(76212)</span>
                                </a>
                            </li>
                        </div>
                        <div class="col lg-4">
                            <li class="category-item">
                                <a href="job-list.html">
                                    <div class="category-icon"><img src="../../../assets/images/icon/2.png" alt="images"
                                            class="img-fluid"></div>
                                    <span class="category-title">Dot Net Web API Developer</span>
                                    <span class="category-quantity">(76212)</span>
                                </a>
                            </li>
                        </div>
                        <div class="col lg-4">
                            <li class="category-item">
                                <a href="job-list.html">
                                    <div class="category-icon"><img src="../../../assets/images/icon/2.png" alt="images"
                                            class="img-fluid"></div>
                                    <span class="category-title">Front-end Developer</span>
                                    <span class="category-quantity">(76212)</span>
                                </a>
                            </li>
                        </div>
                    </ul>

                </div>
            </div>

            <div class="section latest-jobs-ads">
                <div class="section-title tab-manu">
                    <h4>Latest Jobs</h4>
                </div>

                <div class="job-ad-item">
                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="../../../assets/images/job/1.png" alt="Image"
                                        class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">Required Technical Support -IT</a> @ <a
                                    href="#">Igap
                                    Technologies Private LTD</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 4th
                                            lane,rajarampuri,kolhapur </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a>
                                    </li>
                                </ul>

                            </div><br />
                            <hr />
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div>

                    <div class="item-info">
                        <div class="item-image-box">
                            <div class="item-image">
                                <a href="job-details.html"><img src="../../../assets/images/job/1.png" alt="Image"
                                        class="img-fluid"></a>
                            </div>
                        </div>
                        <div class="ad-info">
                            <span><a href="job-details.html" class="title">Required Technical Support -IT</a> @ <a
                                    href="#">Igap
                                    Technologies Private LTD</a></span>
                            <div class="ad-meta">
                                <ul>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> 4th
                                            lane,rajarampuri,kolhapur </a></li>
                                    <li><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Full Time</a></li>
                                    <li><a href="#"><i class="fa fa-money" aria-hidden="true"></i>$25,000 - $35,000</a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-tags" aria-hidden="true"></i>HR/Org. Development</a>
                                    </li>
                                </ul>

                            </div><br />
                            <hr />
                        </div>
                        <div class="button">
                            <a href="#" class="btn btn-primary">Apply Now</a>
                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>